<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini chat application</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>  
   
    <h2>All Chats</h2>
    <form method="get" action="/chats/new">
        <button class="Newchat">New Chat</button>
    </form>
    <br>
    <% for(let chat of chats) { %>
        <div class="chat">
            <p>Sender: <%= chat.sender %></p>
            <p>Receiver: <%= chat.receiver %></p> <!-- Fixed missing %> -->
            
            <div class="msg">
                <p>Message: <%= chat.message %></p>
               <div class="chatbuttons">
                <form method="get" action="/chats/<%= chat._id %>">
                    <button class="editchat">edit</button>
                </form>
                <br><br>
                <form method="post" action="/chats/<%= chat._id %>?_method=DELETE"> 
          
                    <button class="deletechat">delete</button>
             
            </div>
               </div>
                    
              
            <hr>
            <p><%= chat.date.toString().split(" ")[4] %></p>
            <p><%= chat.date.toString().split(" ").slice(0,4).join("-") %></p>
        </div>
        <br/>
        <br/>
    <% } %>
  
</body> 
</html>
